# <font color=red>Coleta de Dados utilizando R e SQLite</font>

### <font color=blue>Instalar o pacote RSQLite</font>

In [ ]:
# Instalar o pacote RMariaD se for a primeira vez que for utlizar.

install.packages("RSQLite")

### <font color=blue>Importar o pacote RSQLiteB</fonte>

In [1]:
#importação do pacote deve ser SEMPRE realizada
library(RSQLite)

library(readr)

Warning message:
"package 'RSQLite' was built under R version 3.6.3"Warning message:
"package 'readr' was built under R version 3.6.3"

In [2]:
getwd()

[1] "C:/Users/FERNANDA/Dropbox/00-Workspaces/JupyterNotebooks/IGTI/Bootcamp/Capitulo5"

In [3]:
# Create an ephemeral in-memory RSQLite database
con <- dbConnect(RSQLite::SQLite(), ":memory:")

In [4]:
#Para listar quais tabela existem no BD execute:

dbListTables(con)

character(0)

In [5]:
dbWriteTable(con, "contabilidade","./Datasets/contabilidade.csv")
dbListTables(con)

[1] "contabilidade"

In [ ]:
 dbRemoveTable(con,"./Datasets/contabilidade.csv")

In [6]:
dbListFields(con, "contabilidade")

 [1] "ID"   "CAP"  "TAM"  "PL"   "AC"   "PC"   "AP"   "ARLP" "PELP" "VLL"

In [7]:
dbReadTable(con, "contabilidade")

Warning message in result_fetch(res@ptr, n = n):
"Column `VLL`: mixed type, first seen values of type real, coercing other values of type string"

  ID CAP TAM PL     AC    PC    AP     ARLP  PELP  VLL
1 1  0   1    63685 30475 41400  79300  5004 40098 0.0461
2 2  1   1    89430 53000 43125 128100 25020 17604 0.0758
3 3  1   2    81300 35775 74175 125050 43368 33252 0.0950
4 4  1   1    79945 30475 31050 118950  8340 26406 0.0189
5 5  0   3   105690 60950 58650  68625  7506 58680 0.0245

In [8]:
dados <- dbSendQuery(con, "SELECT * FROM contabilidade WHERE CAP = 1")
dbFetch(dados)

  ID CAP TAM PL    AC    PC    AP     ARLP  PELP  VLL
1 2  1   1   89430 53000 43125 128100 25020 17604 0.0758
2 3  1   2   81300 35775 74175 125050 43368 33252 0.0950
3 4  1   1   79945 30475 31050 118950  8340 26406 0.0189

In [9]:
dados <- dbSendQuery(con, "SELECT * FROM contabilidade")
dbFetch(dados)

Warning message:
"Closing open result set, pending rows"Warning message in result_fetch(res@ptr, n = n):
"Column `VLL`: mixed type, first seen values of type real, coercing other values of type string"

  ID CAP TAM PL     AC    PC    AP     ARLP  PELP  VLL
1 1  0   1    63685 30475 41400  79300  5004 40098 0.0461
2 2  1   1    89430 53000 43125 128100 25020 17604 0.0758
3 3  1   2    81300 35775 74175 125050 43368 33252 0.0950
4 4  1   1    79945 30475 31050 118950  8340 26406 0.0189
5 5  0   3   105690 60950 58650  68625  7506 58680 0.0245

In [10]:
# Limpar o cursor de resultados
dbClearResult(dados)

In [11]:
dbFetch(dados)

ERROR: Error: Invalid result set

In [12]:
dados <- dbSendQuery(con, "SELECT * FROM contabilidade WHERE PC BETWEEN 40000 AND 50000")
dbFetch(dados)

  ID CAP TAM PL    AC    PC    AP     ARLP  PELP  VLL
1 1  0   1   63685 30475 41400  79300  5004 40098 0.0461
2 2  1   1   89430 53000 43125 128100 25020 17604 0.0758

In [13]:
# Desconectar do banco de dados
dbDisconnect(con)

Warning message in connection_release(conn@ptr):
"There are 1 result in use. The connection will be released when they are closed"

In [14]:
dbReadTable(con, "contabilidade")

Warning message:
"namespace 'fastmap' is not available and has been replaced
by .GlobalEnv when processing object ''"Warning message:
"namespace 'cachem' is not available and has been replaced
by .GlobalEnv when processing object ''"Warning message:
"Closing open result set, pending rows"

ERROR: Error: Invalid or closed connection

In [15]:
# create a connection to the SQLite database
dbfile <- "./Datasets/bootcamp.sqlite"

In [16]:
con <- dbConnect(RSQLite::SQLite(), dbfile)

In [ ]:
con <- dbConnect(RSQLite::SQLite(), "")

In [17]:
cliente <- read.csv("./Datasets/clientes_8000.csv",sep=";",encoding="UTF-8")

In [18]:
head(cliente)

  X.U.FEFF.idade classe_trabalho           escolaridade            anos_estudo
1 39             Servidor Público          Ensino Médio Completo   13
2 50             Autônomo                  Superior Incompleto     13
3 38             Funcionário Setor Privado Ensino Médio Incompleto  9
4 53             Funcionário Setor Privado Ensino Médio Incompleto  7
5 28             Funcionário Setor Privado Ensino Médio Completo   13
6 37             Funcionário Setor Privado Mestrado                14
  estado_civil raca   sexo      UF região qtde_filhos salario
1 Solteiro     Branco Masculino RO Norte  2            4754
2 Casado       Branco Masculino AC Norte  1            3923
3 Divorciado   Branco Masculino AM Norte  0            1100
4 Casado       Negro  Masculino RR Norte  1            1100
5 Casado       Negro  Feminino  PA Norte  0            3430
6 Casado       Branco Feminino  AP Norte  1           10787

In [19]:
names(cliente)[1] <- 'idade'
names(cliente)[6] <- 'raca'
names(cliente)[9] <- 'regiao'

In [20]:
head(cliente)

  idade classe_trabalho           escolaridade            anos_estudo
1 39    Servidor Público          Ensino Médio Completo   13
2 50    Autônomo                  Superior Incompleto     13
3 38    Funcionário Setor Privado Ensino Médio Incompleto  9
4 53    Funcionário Setor Privado Ensino Médio Incompleto  7
5 28    Funcionário Setor Privado Ensino Médio Completo   13
6 37    Funcionário Setor Privado Mestrado                14
  estado_civil raca   sexo      UF regiao qtde_filhos salario
1 Solteiro     Branco Masculino RO Norte  2            4754
2 Casado       Branco Masculino AC Norte  1            3923
3 Divorciado   Branco Masculino AM Norte  0            1100
4 Casado       Negro  Masculino RR Norte  1            1100
5 Casado       Negro  Feminino  PA Norte  0            3430
6 Casado       Branco Feminino  AP Norte  1           10787

In [21]:
dbListTables(con)

character(0)

In [22]:
dbWriteTable(con,"cliente",cliente)
dbListTables(con)

[1] "cliente"

In [23]:
dbListFields(con, "cliente")

 [1] "idade"           "classe_trabalho" "escolaridade"    "anos_estudo"
 [5] "estado_civil"    "raca"            "sexo"            "UF"
 [9] "regiao"          "qtde_filhos"     "salario"

In [24]:
dbReadTable(con, "cliente")

     idade classe_trabalho           escolaridade                  anos_estudo
1    39    Servidor Público          Ensino Médio Completo         13
2    50    Autônomo                  Superior Incompleto           13
3    38    Funcionário Setor Privado Ensino Médio Incompleto        9
4    53    Funcionário Setor Privado Ensino Médio Incompleto        7
5    28    Funcionário Setor Privado Ensino Médio Completo         13
6    37    Funcionário Setor Privado Mestrado                      14
7    49    Funcionário Setor Privado Ensino Fundamental Completo    5
8    52    Autônomo                  Ensino Médio Incompleto        9
9    31    Funcionário Setor Privado Mestrado                      14
10   42    Funcionário Setor Privado Ensino Médio Completo         13
11   37    Funcionário Setor Privado Superior Completo             10
12   30    Servidor Público          Superior Incompleto           13
13   23    Funcionário Setor Privado Pós-Graduado                  13
14   32    Funcionário Setor Privado Ensino Médio Completo         12
15   40    Funcionário Setor Privado Ensino Médio Completo         11
16   34    Funcionário Setor Privado Ensino Fundamental Incompleto  4
17   25    Autônomo                  Ensino Médio Incompleto        9
18   32    Funcionário Setor Privado Ensino Médio Incompleto        9
19   38    Funcionário Setor Privado Ensino Médio Incompleto        7
20   43    Autônomo                  Mestrado                      14
21   40    Funcionário Setor Privado Doutorado                     16
22   54    Funcionário Setor Privado Ensino Médio Incompleto        9
23   35    Funcionário Público       Ensino Fundamental Completo    5
24   43    Funcionário Setor Privado Ensino Médio Incompleto        7
25   59    Funcionário Setor Privado Ensino Médio Incompleto        9
26   56    Empresário                Ensino Médio Completo         13
27   19    Estagiário                Ensino Médio Incompleto        9
28   54    Desempregado              Ensino Médio Completo         10
29   39    Funcionário Setor Privado Ensino Médio Incompleto        9
30   49    Funcionário Setor Privado Ensino Médio Incompleto        9
...  ...   ...                       ...                           ...
7970 34    Funcionário Público       Ensino Médio Completo         13
7971 24    Funcionário Setor Privado Ensino Médio Completo         10
7972 55    Funcionário Setor Privado Ensino Médio Incompleto        9
7973 50    Funcionário Setor Privado Ensino Médio Incompleto        9
7974 40    Funcionário Setor Privado Ensino Médio Completo         13
7975 33    Funcionário Setor Privado Ensino Médio Completo         13
7976 51    Funcionário Público       Ensino Médio Completo         10
7977 30    Funcionário Setor Privado Ensino Médio Completo         10
7978 41    Funcionário Setor Privado Ensino Médio Incompleto        9
7979 47    Empresário                Ensino Médio Completo         11
7980 27    Funcionário Setor Privado Ensino Fundamental Incompleto  4
7981 37    Funcionário Setor Privado Ensino Médio Completo         13
7982 40    Funcionário Setor Privado Ensino Médio Completo         11
7983 36    Funcionário Setor Privado Ensino Médio Incompleto        9
7984 37    Funcionário Setor Privado Ensino Médio Incompleto        9
7985 38    Funcionário Setor Privado Mestrado                      15
7986 40    Autônomo                  Ensino Médio Completo         10
7987 35    Funcionário Setor Privado Ensino Médio Completo         13
7988 47    Autônomo                  Ensino Médio Incompleto        9
7989 20                              Ensino Médio Completo         10
7990 33    Funcionário Setor Privado Mestrado                      14
7991 45    Funcionário Setor Privado Ensino Médio Completo         10
7992 66    Aposentado                Ensino Médio Completo         10
7993 35    Autônomo                  Ensino Médio Incompleto        9
7994 32    Funcionário Setor Privado Ensino Médio Incompleto        7
7995 23    Funcionário Setor Privado Ensino Médio Completo         10
7996 19    Funcionário Setor Privado Ensino Médio Incompleto        9
7997 44                              Ensino Médio Completo         10
7998 20    Funcionário Setor Privado Ensino Médio Incompleto        9
7999 41    Funcionário Setor Privado Ensino Médio Completo         13
     estado_civil  raca     sexo      UF  regiao       qtde_filhos salario
1    Solteiro      Branco   Masculino RO  Norte         2           4754
2    Casado        Branco   Masculino AC  Norte         1           3923
3    Divorciado    Branco   Masculino AM  Norte         0           1100
4    Casado        Negro    Masculino RR  Norte         1           1100
5    Casado        Negro    Feminino  PA  Norte         0           3430
6    Casado        Branco   Feminino  AP  Norte         1          10787
7    União Estável Negro    Feminino  TO  Norte         1           1100
8    Casado        Branco   Masculino MA  Nordeste      4           1100
9    Solteiro      Branco   Feminino  PI  Nordeste      4           6031
10   Casado        Branco   Masculino CE  Nordeste      5           3798
11   Casado        Negro    Masculino RN  Nordeste      4          10316
12   Casado        Pardo    Masculino PB  Nordeste      5           3369
13   Solteiro      Branco   Feminino  PE  Nordeste     NA           5316
14   Solteiro      Negro    Masculino AL  Nordeste      1           2897
15   Casado        Pardo    Masculino SE  Nordeste      5           3269
16   Casado        Indígena Masculino BA  Nordeste      5           1100
17   Solteiro      Branco   Masculino MG  Sudeste       3           1100
18   Solteiro      Branco   Masculino ES  Sudeste       5           1100
19   Casado        Branco   Masculino RJ  Sudeste       1           1100
20   Divorciado    Branco   Feminino  SP  Sudeste       1           6120
21   Casado        Branco   Masculino PR  Sul          NA          12535
22   Separado      Negro    Feminino  SC  Sul           2           1100
23   Casado        Negro    Masculino RS  Sul           4           1511
24   Casado        Branco   Masculino MS  Centro-Oeste  3           1100
25   Divorciado    Branco   Feminino  MT  Centro-Oeste  2           1100
26   Casado        Branco   Masculino GO  Centro-Oeste  0          10671
27   Solteiro      Branco   Masculino DF  Centro-Oeste  2           1100
28   Casado        Pardo    Masculino RO  Norte         4              0
29   Divorciado    Branco   Masculino AC  Norte         0           1100
30   Casado        Branco   Masculino AM  Norte         5           1100
...  ...           ...      ...       ... ...          ...         ...
7970 Solteiro      Pardo    Masculino BA  Nordeste     4            4176
7971 Solteiro      Branco   Masculino MG  Sudeste      3            3375
7972 Divorciado    Branco   Feminino  ES  Sudeste      4            1100
7973 Casado        Branco   Masculino RJ  Sudeste      3            1100
7974 Casado        Branco   Masculino SP  Sudeste      4            2190
7975 Solteiro      Branco   Masculino PR  Sul          1            3232
7976 Casado        Branco   Masculino SC  Sul          0            3843
7977 Solteiro      Branco   Masculino RS  Sul          5            2290
7978 Casado        Branco   Masculino MS  Centro-Oeste 0            1100
7979 Casado        Branco   Masculino MT  Centro-Oeste 0           10825
7980 Solteiro      Branco   Masculino GO  Centro-Oeste 3            1100
7981 Separado      Branco   Feminino  DF  Centro-Oeste 3            2659
7982 Casado        Branco   Masculino RO  Norte        3            2430
7983 Casado        Branco   Masculino AC  Norte        3            1100
7984 Casado        Negro    Masculino AM  Norte        3            1100
7985 Separado      Branco   Masculino RR  Norte        1            8380
7986 Casado        Branco   Masculino PA  Norte        1            3541
7987 Divorciado    Branco   Feminino  AP  Norte        1            2579
7988 Casado        Branco   Feminino  TO  Norte        0            1100
7989 Solteiro      Branco   Masculino MA  Nordeste     2            3610
7990 Casado        Branco   Masculino PI  Nordeste     5            6063
7991 Divorciado    Branco   Feminino  CE  Nordeste     2            3208
7992 Casado        Branco   Masculino RN  Nordeste     0            4178
7993 Solteiro      Negro    Feminino  PB  Nordeste     5            1100
7994 Casado        Branco   Masculino PE  Nordeste     4            1100
7995 Casado        Negro    Masculino AL  Nordeste     3            2856
7996 Solteiro      Branco   Feminino  SE  Nordeste     1            1100
7997 Casado        Branco   Masculino BA  Nordeste     0            3729
7998 Solteiro      Negro    Masculino MG  Sudeste      0            1100
7999 Casado        Branco   Masculino AP  Norte        1            2579

In [25]:
dbWriteTable(con,"cliente1",cliente)
dbListTables(con)

[1] "cliente"  "cliente1"

In [26]:
dbRemoveTable(con,"cliente1")
dbListTables(con)

[1] "cliente"

In [29]:
dados <- dbSendQuery(con, "SELECT DISTINCT(escolaridade) FROM cliente WHERE UF ='MG' ORDER BY 1")
dbFetch(dados)

Warning message:
"Closing open result set, pending rows"

  escolaridade
1 Doutorado
2 Ensino Fundamental Completo
3 Ensino Fundamental Incompleto
4 Ensino Médio Completo
5 Ensino Médio Incompleto
6 Mestrado

In [30]:
# Desconectar do banco de dados
dbDisconnect(con)

Warning message in connection_release(conn@ptr):
"There are 1 result in use. The connection will be released when they are closed"

##### Fim!